*.patch whitespace=-blank-at-eol,-space-before-tab
fastlane/screenshots/**/*.png filter=lfs diff=lfs merge=lfs -text
fastlane/screenshots/**/*.jpg filter=lfs diff=lfs merge=lfs -text
fastlane/screenshots/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
