<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>ORLIXOpenPanelClientID</key>
    <string>$(ORLIX_OPENPANEL_CLIENT_ID)</string>
    <key>ORLIXAnalyticsEnabled</key>
    <string>$(ORLIX_ANALYTICS_ENABLED)</string>
    <key>ORLIXOpenPanelTrackEndpoint</key>
    <string>$(ORLIX_OPENPANEL_TRACK_ENDPOINT)</string>
    <key>ORLIXSigNozIngestionKey</key>
    <string>$(ORLIX_SIGNOZ_INGESTION_KEY)</string>
    <key>ORLIXObservabilityEnabled</key>
    <string>$(ORLIX_OBSERVABILITY_ENABLED)</string>
    <key>ORLIXSigNozOTLPHTTPEndpoint</key>
    <string>$(ORLIX_SIGNOZ_OTLP_HTTP_ENDPOINT)</string>
    <key>ORLIXTelemetryEnvironment</key>
    <string>$(ORLIX_TELEMETRY_ENVIRONMENT)</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
